.tags
    padding: 50px 0
    height: 600px

    .title, .desc
        text-align: center

    .title
        font-size: 18px
        color: #555

    .desc
        color: #93999f
        margin-top: 20px

    ul
        margin-left: 60px
        margin-top: 40px
        margin-right: 60px

        li
            border: 1px solid #ccc
            margin-bottom: 20px
            float: left
            margin-left: 20px
            border-radius: 4px
            box-shadow: 1px 1px 5px #ccc
            cursor: pointer
            a
                display: block
                padding: 6px 20px
                color: #93999f
                &:hover
                    text-decoration: underline
