.catalog
    position: relative
    left: 0px
    top: 320px
    width: 200px
    min-height: 200px
    background: #fff
    padding-top: 20px
    padding-left: 20px
    box-sizing: border-box
    ul
        margin-left: 20px
        li
            line-height: 34px
            color: #93999f
            list-style: upper-roman
            a
                display: block
                cursor: pointer
                &:hover
                    color: #2780f3
