.line-top
    position: fixed
    height: 3px
    width: 100%
    background: #222

.main
    display: flex
    margin: 0 auto
    padding-top: 3px
    justify-content: center

.main-left
    // background: #fff
    width: 200px
    display: none

.main-center
    width: 700px
    background: #fff
    margin: 0 10px

.main-right
    width: 240px
