
// 定义默认按钮样式
btn(width = 60px, color = #fff, background = #555, border=none)
    display: block
    width: width
    padding: 8px 0
    cursor: pointer
    color: color
    background: background
    border-radius: 3px
    border: border
